body {
    background: #000000;
}

.hora{
  color: white;
  text-align: center;
}

.numeros{
  color: orange;
  font-size: 1.5em;
}

.boton-modal{
  position:absolute;
  top: 30%;
  right: 3%;
}

@media(min-width: 320px) {
  .hora{font-size: 0.5em;}
}

@media(min-width: 800px){
    .hora{ font-size: 1em; }
}
@media(min-width: 1620px){
    .hora{ font-size: 1.5em; }
}

.boton-modal:hover{
    opacity: 1;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal-body button {
    margin-right: 1em;
    width: 40%;
    margin-bottom: 0.4em;
}
@media(min-width: 800px){
    .modal-body button{ width: 29%; }
}
@media(min-width: 1620px){
    .modal-body button{ width: 25%; }
}
